# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
SMTP_USER=
SMTP_PASS=""
BACKEND_URL=
FRONTEND_URL=
JWT_SECRET=
PORT=
USERID_BITS=
USERID_PREFIX=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
AWS_CLOUDFRONT_DOMAIN=
AWS_SIGNED_URL_EXPIRES_IN=
